.h1pass {
  font-family: var(--jwf);
  color: var(--jw);
  margin: 0;
  font-size: 3.8rem;
  text-align: center;
}

.update_password {
  width: 90%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 80vh;
  font-size: 1.5rem;
  font-family: var(--jwf);
  border: solid 3px var(--jw);
  color: var(--jw);
}

input {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

label {
  margin: 50px 0 10px 0;
}

input[type='submit']{
  margin-top: 55px;
  width: 70%;
  margin: auto;
  padding: 10px;

}


@media (min-width:800px) {
  .h1pass {
    font-size: 4rem;
  }

  .update_password {
    width: 40%;
    padding: 0 20px;
    font-size: 2rem;
  }

  input {
    width: 70%;
    margin: auto;
  }

  input[type='submit']{
  }
}
